.Navigation {
  background-color: white;
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}

.nav-link.active {
  font-weight: bold;
  color: black;
}

.navbar-nav .nav-item {
  margin-right: 15px; 
}

.navbar-brand {
  margin-left: 15px; 
}